.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  animation: backcolorchange 5s infinite;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
@keyframes backcolorchange{
  20%{background-color: #282c34;}
  40%{background-color: #2e3749;}
  60%{background-color: #253b63;}
  80%{background-color: #2a3242;}
  100%{background-color: #282c34;}
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


button {
  transition-duration: 0.4s;
  background-color: #94abe4;
  border-radius: 4px;
  margin: 0px 12px;
}

button:hover {
  background-color: #4672e2; 
  color: rgb(0, 0, 0);
}
form {
  margin: 20px;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.forminner{
  align-self: flex-start;
}

.likeForm {
  margin: 10px;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.error{
  color: red;
  font-size: small;
  padding: 0;
  margin: 0;
}
input{
  border-radius: 4px;
}